/*
* @Author: xingwei
* @Date:   2018-05-04 09:35:42
* @Last Modified by:   xingwei
* @Last Modified time: 2018-05-05 11:26:32
*/
#wrapper
{
    background: #dedede;
}
.mainContainer
{
    overflow: hidden;
background-color: #fff;
    min-height: 368px;
}
#header
{
    position: relative;
    /*width: 1000px;*/
	background-color: #fff;
    height: 100%;
    margin: 0 auto;
}
.headerlogo
{
    float: left;

    width: 59px;
    height: 100%;
}
.headertitle
{
    line-height: 63px;

    position: relative;

    float: left;

    height: 100%;
    margin-left: 10px;
}
.headerbutton
{
    line-height: 63px;

    float: left;

    height: 63px;
    margin-left: 15px;
}
.headerbutton img
{
    display: inline-block;

    vertical-align: middle;
}
.clear
{
    clear: both;
}


h3
{
    font-size: 14px;

    margin: 20px 0;

    text-align: center;

    color: #333;
}


.box
{
    margin: 0px auto 0;
padding-top:10px; 
    background: #fff;
}

.tab_menu
{
    overflow: hidden;
    margin-left: 10px;
}

.tab_menu li
{
    line-height: 30px;

    float: left;

    width: 60px;
    height: 30px;

    cursor: pointer;
    text-align: center;

    /*color: #fff;
    background: #093;*/
}

.tab_menu li.current
{
    color: red;
    background: #fff;
    border-bottom: red solid 1px;
}

.tab_menu li a
{
    text-decoration: none;

    color: #fff;
}

.tab_menu li.current a
{
    color: #333;
}

.tab_box
{
    /*padding: 20px;*/
}

/*.tab_box li
{
    line-height: 24px;

    overflow: hidden;

    height: 24px;
}*/

.tab_box li span
{
    font-family: '宋体';
   
    font-weight: 400;

    margin: 0 5px 0 0;

   
}

.tab_box .hide
{
    display: none;
}
.da-thumbs1 img
{
    width: 114px;
    height: 114px;
}
.da-thumbs2 img
{
    width: 55px;
    height: 55px;
    display: block;
    padding: 10px;
}
.da-thumbs2 li{
	text-align: center;
}
.da-thumbs li
{
    float: left;
    margin-right: 10px;
}
.da-thumbs
{
    width: 750px;
    height: 114px;
}
.da-thumbs2{
	    width: 450px;
}
.txtModule .content
{
    overflow-x: scroll;
}
.dynamic_body
{
    float: right;

    width: 260px;
}
.dynamic_title h3
{
    margin: 0;

    text-align: left;
}

.dynamic_author
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.dynamic_content
{
    margin-bottom: 5px;
}
.about-us
{
    height: 100%;

    color: #fff;
}
.about-us .description
{
    overflow: hidden;

    height: 172px;
    padding: 0 14px;

    background-color: #c20000;
}
.about-us .head
{
    margin: 16px 0;

    text-align: center;
}
.about-us .head h3
{
    font-size: 22px;

    color: #fff;
}
.about-us .head a
{
    float: right;

    margin-top: 6px;
}
.about-us .head span
{
    font-size: 14px;
}
.about-us p
{
    line-height: 1.6;
}
.about-us .other
{
    height: 34px;

    background-color: #000;
}
.about-us .item
{
    line-height: 34px;

    display: block;
    float: left;

    width: 33%;
    height: 34px;

    text-align: center;

    color: #fff;
}
.about-us .item span
{
    margin-left: 5px;
}
.text_list_bk
{
    line-height: 40px !important;
margin-left: 10px;
    position: relative;

    overflow: hidden;

    height: 40px !important;

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ededed;
}
.text_list_bk span{
	font-size: 14px;
	color: black;
}
.demo3 .current{
	    border-bottom: none !important;
}
.organcon p{
	margin: 10px;
}
.weibocon{
	padding: 10px;
}
.weibocon p{
	margin-bottom: 10px; 
}
#nav{
	background: #dedede;
	margin-bottom: 10px;
}
.demo4{
	margin: 10px auto 0;
    background: #fff;
}